body {
  margin: 0;
  background-color: rgb(46, 46, 46);
}

@font-face {
  font-family: 'trump';
  src: url('./assets/Trump_Town_Pro.otf');
}

@font-face {
  font-family: 'watcher';
  src: url('./assets/WATCHER\ PERONAL\ USE.ttf');
}

.slide-right {
  animation-name: slideRight;
  animation-duration: 0.4s;
}

@keyframes slideRight {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 30s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}